/*  your css code here. If applicable */
.main{
	background-color:#f5f5f5;
	width:100%;
	padding:20px;
	height:400px;
}
.box{
	margin-top:25px;
	background-color:white;
	padding:15px;
}
.john{
	font-style:italic;
	text-align:right;
}
.johny{
	font-style:italic;
	text-align:right;
}
